.task-app {
  font-family: sans-serif;
}


.add-task {
  margin-left: 0.5rem;
}


.task-list {
  margin-top: 1rem;
  text-align: left;
  list-style: none;
}


.task-item {
  font-family: monospace;
  cursor: pointer;
  line-height: 1.5;
}
.task-item__text--completed {
  text-decoration: line-through;
  color: lightgray;
}


.filter {
  padding: 0.3rem 0;
  margin: 0 0.3rem;
  cursor: pointer;
}
.filter--active {
  border-bottom: 1px solid black;
}
